
<div class="message_<%= message.id %>">

    <h3>
        <%= message.posted_by + " - " +  message.posted_date%>
        <% if(Number(message.user_id) === Number(user_id)){ %>
        <form class="delete_message_form" action="<%= API_URL %>wall/delete_message" method="post">
            <input type="hidden" name="message_id" value="<%= message.id %>">
            <input type="submit" value="Delete">
        </form>
        <% } %>
    </h3>
    <p><%= message.message %></p>
</div>
<%- include("../sections/comment.section.ejs", { message_id: message.id, comments: message_comments, API_URL }) %>